parameters:
	level: 5
	paths:
		- classes
		- admin
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

services:
    -
        class: Contexis\Events\Platform\Development\PhpStan\ResourcePropertyTypesRule
        tags:
            - phpstan.rules.rule