.ctx-datatable {
	padding: 10px 20px 0px 2px;
	margin: 0;

	.check-field {
		width: 24px !important;
		padding-left: 0;
		padding-right: 0;
	}

	.tablenav.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
}
